  p{ color: rgba(20, 130, 220, 0.749);
      width:fit-content ;
      font-family:sans-serif;
      font-style: normal;


    }
    .header{
      height: 300px;
      text-align: center;
      font-style: normal;
      color: rgb(75, 8, 119);
      /* height:200px; */
      background-image: url('sq2.jpg');
      /* background-repeat:repeat-x ; */
       /* background-repeat:repeat-y ; */

      background-repeat: no-repeat;
      background-size: contain;
      /* background-size: cover; */
      background-size: 700px   ;
      /* background height: 500px; */
      /* background weight : 500px; */
      /* background-size: auto; */
      background-position: center;
      background-position: top;
      background-position: bottom;

    }
    .bitch{
        font-size: larger;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
    }
       #h6{
      color: cyan;
      background-color: blanchedalmond;
      text-align: center;
      font-size: larger;
       font-weight: bolder;
    }
    
    li{
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #00775f;
    }
  
    .player{
      font-size: larger;
      color:rgb(195, 50, 139);
    }
    #gilbob{
        text-shadow: chartreuse;
        font-weight: 800;
        background-color: rgb(228, 50, 213);
    }
    input {
        color: rgb(229, 99, 201);
        font-family: Arial, Helvetica, sans-serif;
        font-style: oblique;
        /* color-scheme:initial; */
        /* text-decoration-color: rgb(26, 109, 112); */
    }
  
  /* attribute selector [type= "..etc..."] */
    input[type="email"]{  

color: blue;
    }
    .fall{
         
        background-color: aquamarine;
        background-size:cover;
    }
    .blog{
      background-color: aquamarine;
      border: 20px solid ;
    }